doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Contact Us
        style 
            include ./styles/contactus.css

    body
        header  
            nav 
                ul.nav-list
                    li.nav_item 
                        a(href="./HomePage.pug").link Home Page
                    li.nav_item
                        a(href="./OurServices.pug").link Our Services
                    li.nav_item  
                        a(href="./ContactUs.pug").link.active Contact Us
        h2 This is how to contact us