doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Home Page
        style 
            include ./styles/homepage.css
    body
        header  
            nav 
                ul.nav-list
                    li.nav_item 
                        a(href="./HomePage.pug").link.active Home Page
                    li.nav_item
                        a(href="./OurServices.pug").link Our Services
                    li.nav_item  
                        a(href="./ContactUs.pug").link Contact Us
        h2 This is the home page