doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Our Services
        style 
            include ./styles/ourservices.css
    body
        header  
            nav 
                ul.nav-list
                    li.nav_item 
                        a(href="./HomePage.pug").link Home Page
                    li.nav_item
                        a(href="./OurServices.pug").link.active Our Services
                    li.nav_item  
                        a(href="./ContactUs.pug").link Contact Us
        h2 This is the The Services we offer